@model LoginRegisterForm.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Sign up for Danya</h1>

<br>
<form asp-action="SignUp" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="Login" type="text" class="input-data" placeholder="Enter your Login">
    <span asp-validation-for="Login" class="text-danger"></span><br>
    
    <input asp-for="Email" type="text" class="input-data" placeholder="Enter your Email">
    <span asp-validation-for="Email" class="text-danger"></span><br>
    
    <input asp-for="Password" type="password" class="input-data" placeholder="Enter your password">
    <span asp-validation-for="Password" class="text-danger"></span><br>
    
    <input asp-for="ConfirmPassword" type="password" class="input-data" placeholder="Please, enter your password again">
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br>
    
    <input type="radio"> <label for="text" class="input-description">I have read and accepted the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></label><br>

    <button class="btn-registration">Registration</button><br>

</form>

Do you already have an account? <a href="/Account/SignIn">Sign In</a><br>

<p class="">---------- Other ways to sign up ----------</p><br>

<button class="btn-other">Google</button> <button class="btn-other">Apple</button> <button class="btn-other">Facebook</button> <button class="btn-other">X</button><br>